@model OP.Entities.Models.Brochure
@{
    Layout = null;
}
<link href="~/Scripts/UEditor/themes/default/css/ueditor.min.css" rel="stylesheet" />

<style type="text/css">
    #TempDiv caption {
        padding: 0 0 5px 0;
        font: italic 30px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
        text-align: center;
    }

    /*

        TableCloth
        by Alen Grakalic, brought to you by cssglobe.com

    */ /* general styles */
    #TempDiv table,#TempDiv  td {
        font: 100% Arial, Helvetica, sans-serif;
    }

    #TempDiv table {
        width: 100%;
        border-collapse: collapse;
        margin: 1em 0;
    }

    #TempDiv th,#TempDiv  td {
        text-align: left;
        padding: .5em;
        border: 1px solid #fff;
    }

    #TempDiv th {
        background: #328aa4;
        color: #fff;
    }

    #TempDiv td {
        background: #e5f1f4;
        text-align: center;
    }

    #TempDiv  td.td-info {
            width: 120px;
        }
    /* tablecloth styles */
    #TempDiv tr.even td {
        background: #e5f1f4;
    }

    #TempDiv tr.odd td {
        background: #f8fbfc;
    }

    #TempDiv th.over,#TempDiv  tr.even th.over,#TempDiv  tr.odd th.over {
        background: #4a98af;
    }

    #TempDiv th.down,#TempDiv  tr.even th.down,#TempDiv  tr.odd th.down {
        background: #bce774;
    }

    #TempDiv th.selected,#TempDiv  tr.even th.selected,#TempDiv  tr.odd th.selected {
    }

    #TempDiv td.over,#TempDiv  tr.even td.over,#TempDiv  tr.odd td.over {
        background: #ecfbd4;
    }

    #TempDiv td.down,#TempDiv  tr.even td.down,#TempDiv  tr.odd td.down {
        background: #bce774;
        color: #fff;
    }

    #TempDiv td.selected,#TempDiv  tr.even td.selected,#TempDiv  tr.odd td.selected {
        background: #bce774;
        color: #555;
    }

    /* use this if you want to apply different styleing to empty table cells*/
    #TempDiv td.empty,#TempDiv  tr.odd td.empty,#TempDiv  tr.even td.empty {
        background: #fff;
    }
</style>
<script type="text/javascript" charset="utf-8" src="~/Scripts/UEditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="~/Scripts/UEditor/ueditor.all.min.js"></script>
<script type="text/javascript" charset="utf-8" src="~/Scripts/UEditor/lang/zh-cn/zh-cn.js"></script>
<script>
    $(function () {
        var FAQ = UE.getEditor('FAQ');
        var ExampleDescrip = UE.getEditor('ExampleDescrip');
        var PayDescrip = UE.getEditor('PayDescrip');
        var SettlementFormula = UE.getEditor('SettlementFormula');
        var StartDateDescrip = UE.getEditor('StartDateDescrip');
        var EndDateDescrip = UE.getEditor('EndDateDescrip');
        var TradeDateDescrip = UE.getEditor('TradeDateDescrip');
        
        @if (Model.BrochureID.ToString() == "00000000-0000-0000-0000-000000000000")
        {
            //新增模板
            <text>
        BindAddTemplateClickEvent(false);
        </text>
        }
        else
        {
            //修改模板
            <text>
        BindTemplateData();
        BindAddTemplateClickEvent(true);
        </text>
        }
    });


    function BindAddTemplateClickEvent(IsUpdate) {
        $('#btnAddTemplate').click(function () {
            var valid = $('#AddTemplateForm').form('validate');
            if (valid == false) {
                return false;
            }
            var token = $('@Html.AntiForgeryToken()').val();
            var headers = {};
            headers["__RequestVerificationToken"] = token;
            var postdata = {
                BrochureID:$('#BrochureID').val(),
                TempName: $("#TempName").val(),
                TempDescrip: $("#TempDescrip").val(),
                ContractDescrip: $("#ContractDescrip").val(),
                BuyBegin: $("#BuyBegin").val(),
                BuyTime: $("#BuyTime").val(),
                PayDescrip: UE.getEditor('PayDescrip').getContent(),
                SettlementFormula: UE.getEditor('SettlementFormula').getContent(),
                StartDateDescrip: UE.getEditor('StartDateDescrip').getContent(),
                EndDateDescrip: UE.getEditor('EndDateDescrip').getContent(),
                TradeDateDescrip: UE.getEditor('TradeDateDescrip').getContent(),
                RiskAnnouncementURL: $("#RiskAnnouncementURL").val(),
                PurchaseAgreementURL: $('#PurchaseAgreementURL').val(),
                FAQ: UE.getEditor('FAQ').getContent(),
                ExampleDescrip: UE.getEditor('ExampleDescrip').getContent()
            }
            var postURL = '';
            var msgString = '';
            //debugger
            if (IsUpdate) {
                postURL = '/Brochure/UpdateTemplateAction';
                msgString = '修改宣传册模板成功。';
            } else {
                postURL = '/Brochure/AddTemplateAction';
                msgString = '新增宣传册模板成功。';
            }
            $.ajax({
                type: 'POST',
                url: postURL,
                cache: false,
                headers: headers,
                data: postdata,
                success: function (data) {
                    if (data && data.Success) {
                        $.messager.show({
                            title: '我的消息',
                            msg: msgString,
                            timeout: 5000,
                            showType: 'slide'
                        });
                        var tab = $('#main-tab').tabs('getSelected');
                        tab.panel('refresh', '/Brochure/TemplateConfig');
                    }
                    else {
                        alert("添加失败，请您检查");
                    }
                },
                error: function () {
                    //debugger
                    alert("添加失败，请您检查")
                }
            });

        })
    }
    function BindTemplateData() {
        $('#BrochureID').val('@Model.BrochureID');
        $('#TempName').val('@Model.TempName');
        $('#TempDescrip').val('@Model.TempDescrip');
        $('#ContractDescrip').val('@Model.ContractDescrip');
        $('#BuyBegin').val('@Model.BuyBegin');
        $('#BuyTime').val('@Model.BuyTime');
        UE.getEditor('PayDescrip').addListener('ready', function (editor) {
            UE.getEditor('PayDescrip').setContent('@Html.Raw(Model.PayDescrip)', false);
        });
        UE.getEditor('SettlementFormula').addListener('ready', function (editor) {
            UE.getEditor('SettlementFormula').setContent('@Html.Raw(Model.SettlementFormula)', false);
        });
        UE.getEditor('StartDateDescrip').addListener('ready', function (editor) {
            UE.getEditor('StartDateDescrip').setContent('@Html.Raw(Model.StartDateDescrip)', false);
        });
        UE.getEditor('EndDateDescrip').addListener('ready', function (editor) {
            UE.getEditor('EndDateDescrip').setContent('@Html.Raw(Model.EndDateDescrip)', false);
        });
        UE.getEditor('TradeDateDescrip').addListener('ready', function (editor) {
            UE.getEditor('TradeDateDescrip').setContent('@Html.Raw(Model.TradeDateDescrip)', false);
        });
        $('#RiskAnnouncementURL').val('@Model.RiskAnnouncementURL');
        $('#PurchaseAgreementURL').val('@Model.PurchaseAgreementURL');
        UE.getEditor('FAQ').addListener('ready', function (editor) {
            UE.getEditor('FAQ').setContent('@Html.Raw(Model.FAQ)', false);
        });
        UE.getEditor('ExampleDescrip').addListener('ready', function (editor) {
            UE.getEditor('ExampleDescrip').setContent('@Html.Raw(Model.ExampleDescrip)', false);
        });
    }

    function CloseAddTempPage() {
        var tab = $('#main-tab').tabs('getSelected');
        tab.panel('refresh', '/Brochure/TemplateConfig');
    }
</script>
<div id="TempDiv">
    <form id="AddTemplateForm" method="post" novalidate="novalidate">
        <table id="TempTable">
            <thead>
                <tr>
                    <th colspan="2" style="text-align:left;font-size:large;padding-left:20px;">添加宣传册模板</th>
                </tr>
            </thead>
            
            <tr>
                <td class="td-info"><label for="TempName">模板名称：</label></td>
                <td>
                    <input class="easyui-validatebox form-control" type="text" id="TempName" name="TempName" data-options="required:true,validType:'length[1,32]'" style="width:400px;" />
                </td>
            </tr>
            <tr>
                <td class="td-info"><label for="TempDescrip">模板描述：</label></td>
                <td>
                    <input class="easyui-validatebox form-control" type="text" id="TempDescrip" name="TempDescrip" data-options="required:false,validType:'length[1,32]'" style="width:400px;" />
                </td>
            </tr>
            <tr>
                <td class="td-info"><label for="ContractDescrip">标的合约描述：</label></td>
                <td>
                    <input class="easyui-validatebox form-control" type="text" id="ContractDescrip" name="ContractDescrip" data-options="required:false,validType:'length[1,32]'" style="width:400px;" />
                </td>
            </tr>
            <tr>
                <td class="td-info"><label for="BuyBegin">购买起点：</label></td>
                <td>
                    <input class="easyui-validatebox form-control" type="text" id="BuyBegin" name="BuyBegin" data-options="required:false,validType:'length[1,32]'" style="width:400px;" />
                </td>
            </tr>
            <tr>
                <td class="td-info"><label for="BuyTime">购买时间：</label></td>
                <td>
                    <input class="easyui-validatebox form-control" type="text" id="BuyTime" name="BuyTime" data-options="required:false,validType:'length[1,32]'" style="width:400px;" />
                </td>
            </tr>
            <tr>
                <td class="td-info"><label for="PayDescrip">补偿说明：</label></td>
                <td>
                    <script id="PayDescrip" type="text/plain" style="width:700px;height:200px;">
                    </script>
                </td>
            </tr>
            <tr>
                <td class="td-info"><label for="SettlementFormula">结算公式：</label></td>
                <td>
                    <script id="SettlementFormula" type="text/plain" style="width:700px;height:100px;">
                    </script>
                </td>
            </tr>

            <tr>
                <td class="td-info"><label for="StartDateDescrip">生效日：</label></td>
                <td>
                    <script id="StartDateDescrip" type="text/plain" style="width:700px;height:100px;">
                    </script>
                </td>
            </tr>
            <tr>
                <td class="td-info"><label for="EndDateDescrip">到期日：</label></td>
                <td>
                    <script id="EndDateDescrip" type="text/plain" style="width:700px;height:100px;">
                    </script>
                </td>
            </tr>
            <tr>
                <td class="td-info"><label for="TradeDateDescrip">交易日：</label></td>
                <td>
                    <script id="TradeDateDescrip" type="text/plain" style="width:700px;height:100px;">
                    </script>
                </td>
            </tr>
            <tr>
                <td class="td-info"><label for="RiskAnnouncementURL">风险揭示书链接：</label></td>
                <td>
                    <input class="easyui-validatebox form-control" type="text" id="RiskAnnouncementURL" name="RiskAnnouncementURL" data-options="required:false" style="width:400px;" />
                </td>
            </tr>
            <tr>
                <td class="td-info"><label for="PurchaseAgreementURL">价格补偿服务购买协议链接：</label></td>
                <td>
                    <input class="easyui-validatebox form-control" type="text" id="PurchaseAgreementURL" name="PurchaseAgreementURL" data-options="required:false" style="width:400px;" />
                </td>
            </tr>
            <tr>
                <td class="td-info"><label for="FAQ">常见问题：</label></td>
                <td>
                    <script id="FAQ" type="text/plain" style="width:700px;height:300px;">
                    </script>

                </td>
            </tr>
            <tr>
                <td class="td-info"><label for="ExampleDescrip">示例说明：</label></td>
                <td>
                    <script id="ExampleDescrip" type="text/plain" style="width:700px;height:300px;">
                    </script>
                </td>
            </tr>
            <tr style="visibility:hidden">
                <td><label for="BrochureID">ID:</label></td>
                <td><input class="easyui-validatebox" type="text" id="BrochureID" name="BrochureID" readonly="readonly" /></td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:left; padding-top:10px;padding-left:150px;">
                    <a href="javascript:void(0)" class="easyui-linkbutton" id="btnAddTemplate" iconcls="icon-ok">保存</a>
                    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="CloseAddTempPage()">关闭</a>
                </td>
            </tr>
        </table>
    </form>

</div>
